html, body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif; }

.arrows {
  padding: 1rem 1.5rem;
  cursor: pointer; }
  @media only screen and (max-width: 600px) {
    .arrows {
      padding: .5rem 1rem; } }
  .arrows:hover {
    color: #797dee; }

.calendar {
  text-align: center;
  color: white;
  background-color: white;
  border: 1px solid #ABAEF7;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none; }
  .calendar_header {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    background-color: #ABAEF7; }
    @media only screen and (max-width: 600px) {
      .calendar_header {
        font-size: 1rem; } }

.week-blank {
  height: 6rem;
  border: 1px solid #ABAEF7;
  width: 6rem; }
  @media only screen and (max-width: 600px) {
    .week-blank {
      height: 3rem;
      width: 3rem; } }

.week-name {
  height: 6rem;
  width: 6rem; }
  .week-name__row {
    background-color: #ABAEF7;
    font-size: 1.5rem; }
    @media only screen and (max-width: 600px) {
      .week-name__row {
        font-size: 1rem;
        height: 3rem;
        width: 3rem; } }

.week-day {
  height: 6rem;
  border: 1px solid #ABAEF7;
  width: 6rem;
  color: #8487f0;
  transition: transform .3s, background-color .5s; }
  @media only screen and (max-width: 600px) {
    .week-day {
      height: 3rem;
      width: 3rem; } }
  .week-day:active {
    transform: scale(1.5);
    border: 2.5px solid #c3c4ff; }
  .week-day:hover {
    background-color: #ABAEF7;
    color: white;
    cursor: pointer; }

.day-header {
  display: flex;
  font-weight: bold;
  background-color: #ABAEF7;
  color: white;
  min-height: 20vh; }
  .day-header-back {
    margin: auto;
    font-size: 1.5rem; }
    @media only screen and (max-width: 800px) {
      .day-header-back {
        font-size: 1rem; } }
    .day-header-back:hover {
      color: #9195ff;
      cursor: pointer; }
  .day-header-date {
    display: flex;
    margin: auto;
    font-size: 3rem; }
    @media only screen and (max-width: 800px) {
      .day-header-date {
        font-size: 2rem;
        padding-right: 2rem; } }
    @media only screen and (max-width: 400px) {
      .day-header-date {
        font-size: 1.25rem;
        padding-right: 2.5rem; } }
  .day-header__item {
    margin-left: 2rem; }

.login {
  background-color: grey; }
  .login__background {
    background-color: green; }

.landing-page {
  display: flex;
  flex-direction: column;
  color: white; }
  .landing-page__header {
    background-image: linear-gradient(to right bottom, rgba(108, 112, 253, 0.85), rgba(165, 165, 240, 0.9)), url("../images/landing.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
    min-height: 85vh;
    text-align: center;
    text-shadow: 2px 2px 8px #333333; }
    .landing-page__header-text {
      width: 50%;
      position: absolute;
      left: 25%;
      top: 25%;
      font-size: 125%;
      display: flex;
      flex-direction: column; }
      @media only screen and (max-width: 750px) {
        .landing-page__header-text {
          font-size: 90%; } }
    .landing-page__header .redirectHomePage {
      border-radius: 1.5rem;
      box-shadow: 10px 10px 5px -7px #ABAEF7;
      margin-bottom: 3rem;
      margin-left: 35%;
      width: 25%;
      color: #6c70fd;
      text-decoration: none;
      text-shadow: 0 0 1px;
      background-color: white;
      padding: 1rem;
      transition: all .5s ease-in; }
      .landing-page__header .redirectHomePage:hover {
        background-color: #ABAEF7;
        color: white; }
      @media only screen and (max-width: 450px) {
        .landing-page__header .redirectHomePage {
          font-size: 75%;
          padding: 1.5rem;
          margin-left: 30%; } }
      @media only screen and (max-width: 350px) {
        .landing-page__header .redirectHomePage {
          margin-left: 20%; } }
    .landing-page__header-scroll {
      font-size: 300%;
      animation: scrollButton 2s infinite;
      transition: color .6s ease-in; }
      .landing-page__header-scroll:hover {
        cursor: pointer;
        color: #ABAEF7; }
  .landing-page__details {
    min-height: 100vh;
    color: #6c70fd; }
    .landing-page__details-footerIntro {
      text-align: center;
      width: 80%;
      position: relative;
      left: 10%;
      padding-top: 5%; }
    .landing-page__details .feature_list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 90%; }
      .landing-page__details .feature_list-item {
        padding: 1rem;
        display: flex;
        min-height: 40vh;
        margin-bottom: 2rem; }
        @media only screen and (max-width: 800px) {
          .landing-page__details .feature_list-item {
            font-size: 85%;
            padding: 1.25rem; } }
        @media only screen and (max-width: 700px) {
          .landing-page__details .feature_list-item {
            flex-direction: column;
            align-items: center;
            font-size: 90%; } }
        .landing-page__details .feature_list-item-text {
          width: 40%;
          padding: 1.5rem;
          align-self: center; }
          @media only screen and (max-width: 700px) {
            .landing-page__details .feature_list-item-text {
              width: 100%; } }
        .landing-page__details .feature_list-item img {
          height: 100%;
          width: 60%;
          border-radius: 10px;
          border: 1px solid #6c70fd;
          align-self: center; }
          @media only screen and (max-width: 700px) {
            .landing-page__details .feature_list-item img {
              width: 100%; } }
  .landing-page__footer {
    background-image: linear-gradient(to right bottom, #6c70fd, #a5a5f0);
    height: 15vh;
    display: flex;
    justify-content: space-around; }
    @media only screen and (max-width: 400px) {
      .landing-page__footer {
        flex-direction: column; } }
    .landing-page__footer-item {
      color: white;
      text-decoration: none;
      align-self: center;
      font-size: 1.25rem; }

@keyframes scrollButton {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0px); } }
