.day-header{
    display: flex;
    font-weight: bold;
    background-color: #ABAEF7;
    color: white;
    min-height: 20vh;

    &-back{
        margin: auto;
        font-size: 1.5rem;
        @media only screen and (max-width: 800px) {
            font-size: 1rem;
        }

        &:hover{
            color: rgb(145, 149, 255);
            cursor: pointer;
        }
    }

    &-date{
        display: flex;
        margin: auto;
        font-size: 3rem;
        @media only screen and (max-width: 800px) {
            font-size: 2rem;
            padding-right: 2rem;
        }
        @media only screen and (max-width: 400px) {
            font-size: 1.25rem;
            padding-right: 2.5rem;
        }

    }

    &__item{
        margin-left: 2rem;
    }
}

.formLabel{
    color: $primary-color-dark;
    margin-top: 1rem;
}

.formInput{
    border: none;
    background: none;
    color: $primary-color;
    border-bottom: 1px solid $primary-color-dark;
    margin-top: 1rem;

    &:focus{
        outline-width: 0;
    }
}

.buttonSubmitGroup{
    display: flex;
}

.formSubmit{
    border: none;
    background-color: $primary-color;
    padding: .7rem;
    color: white;
    margin-top: 1rem;
    transition: all .3s ease-in;

    &:hover{
        background-color: $primary-color-dark;
        cursor: pointer;
    }
}

.formError{
    color: red;
}

.sessionItems{
    display: flex;
    flex-direction: column;
}

.sessionForm{
    padding: 5rem;
    width: 25%;
}

.userInputListItem{
    list-style: none;
    color: $primary-color;
}