.landing-page{
    display: flex;
    flex-direction: column;
    color: white;
    //min-height: 130vh;

    &__header{
        background-image: linear-gradient(
            to right bottom,
            #693902e7, #ff8902ce),
            url("../images/landing.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: left top;
        min-height: 85vh;
        text-align: center;
        text-shadow: 2px 2px 8px rgb(51, 51, 51);

        &-text{
            width: 50%;
            position: absolute;
            left: 25%;
            top: 25%;
            font-size: 125%;
        }

        &-scroll{
            font-size: 300%;
            animation: scrollButton 2s infinite;
            transition: color .6s ease-in;

            &:hover{
                cursor: pointer;
                color: orange;
            }
        }
    }


    &__details{
        background-image: linear-gradient(to bottom left, #ce6f02c2, orange);
        min-height: 100vh;

        &-footerIntro{
            text-align: center;
            width: 50%;
            position: relative;
            left: 25%;
            padding-top: 5%;
            text-shadow: 2px 2px 6px rgb(49, 49, 49);
        }

        .feature_list{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-item{
                border: 1px solid black;
            }
        }
    }

}

@keyframes scrollButton {
    0%   {transform: translateY(0px);}
    50%  {transform: translateY(10px);}
    100% {transform: translateY(0px);}
}